<app-appbar></app-appbar>
<body>

  <div class="login-box" style="text-align: center;">
    <h2>Create Questionnaire</h2>
    <form>

      <!-- Question 1 -->
      <div class="single-question">
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Question 1</label>
        </div>

        <div class="user-box">
          <input type="text" name="" required="">
          <label>Correct Answer</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 1</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 2</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 3</label>
        </div>
      </div>

      <!-- Question 2 -->
      <div class="single-question">
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Question 2</label>
        </div>

        <div class="user-box">
          <input type="text" name="" required="">
          <label>Correct Answer</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 1</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 2</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 3</label>
        </div>
      </div>

      <!-- Question 3 -->
      <div class="single-question">
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Question 3</label>
        </div>

        <div class="user-box">
          <input type="text" name="" required="">
          <label>Correct Answer</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 1</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 2</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 3</label>
        </div>
      </div>

      <!-- Question 4 -->
      <div class="single-question">
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Question 4</label>
        </div>

        <div class="user-box">
          <input type="text" name="" required="">
          <label>Correct Answer</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 1</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 2</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 3</label>
        </div>
      </div>

      <!-- Question 5 -->
      <div class="single-question">
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Question 5</label>
        </div>

        <div class="user-box">
          <input type="text" name="" required="">
          <label>Correct Answer</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 1</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 2</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Wrong Answer 3</label>
        </div>
      </div>



      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Create
      </a>
    </form>
  </div>

  <div class="bottom-box"></div>

</body>
