<app-appbar></app-appbar>

  <div>
    <div class="headder-card" style="width: 420px;">
      <span class="text1">Create Your Questionnaire</span>
      <br>
      <span class="text2">with</span>

      <h1 class="text3">yourQ</h1>
    </div>
  </div>

  <div>
    <div class="headder-card" style="width: 480px;">
      <span class="text1">You can share your Questionnaire with 3 simple steps</span>
      <br><br><br>
      <ol  class="text1">
        <li>Create Account</li>
        <li>Create Questionnaire</li>
        <li>Share with Friends</li>
      </ol>
    </div>
  </div>

  <div>
    <div class="headder-card" style="width: 440px;">
      <span class="text1">You can see Real-time changes in your leaderboard</span>
    </div>
  </div>

  <div class="headder-card" style="width: 350px;">
    <div class="login-box">
      <button (click)="onClickCreateQuestionnaire()">Create Questionnaire</button>
    </div>
  </div>
