<app-appbar></app-appbar>

<body>

  <div class="login-box" style="text-align: center;">
    <h2>{{questionnaireData['title']}}</h2>
  </div>


  <!-- Question 1 -->
  <div class="login-box">
    <label id="example-radio-group-label">{{questionnaireData['question1']}}</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="givenAnswer1">

          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers1" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
  </div>

  <!-- Question 2 -->
  <div class="login-box">
    <label id="example-radio-group-label">{{questionnaireData['question2']}}</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="givenAnswer2">

          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers2" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
  </div>

  <!-- Question 3 -->
  <div class="login-box">
    <label id="example-radio-group-label">{{questionnaireData['question3']}}</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="givenAnswer3">

          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers3" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
  </div>

  <!-- Question 4 -->
  <div class="login-box">
    <label id="example-radio-group-label">{{questionnaireData['question4']}}</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="givenAnswer4">

          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers4" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
  </div>

  <!-- Question 5 -->
  <div class="login-box">
    <label id="example-radio-group-label">{{questionnaireData['question5']}}</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="givenAnswer5">

          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers5" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
  </div>

  <div class="login-box" style="text-align: center;">
    <button (click)="onClickSubmit()">Submit</button>
  </div>

  <div class="bottom-box"></div>
</body>
